<h1>This is the home page of the application</h1>

<style>
	.greenButton{
		background:#00CC00;
		border-radius:10px;
		padding:10px 20px;
		text-decoration:none;
		color:#FFFFFF;
	}

	.container{
	padding:50px;
	text-align:center
	}
</style>

<div class="container">
	<a href="/user/new" class="greenButton">Create new User</a>
</div>